//Colors
//
//$primary-color - Primary color
//$secondary-color - Secondary color
//$primary-action-color - Primary button color
//
//markup:
//<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
//Styleguide 2

$primary-color: #4a1a24;
$secondary-color: #EB7F00;
$primary-action-color: #1695A3;